.wf {
	font-family: 'sztos-variable', sans-serif;
	font-variation-settings:
		'wdth' 100,
		'wght' 400;
}
.wf-light {
	font-family: 'sztos-variable', sans-serif;
	font-variation-settings:
		'wdth' 100,
		'wght' 250;
}
.wf-bold {
	font-family: 'sztos-variable', sans-serif;
	font-variation-settings:
		'wdth' 100,
		'wght' 650;
}

.ja-serif {
	font-family: fot-tsukuaoldmin-pr6n, sans-serif;
	font-weight: 300;
	font-style: normal;
}
